.checked {
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

.fa {
  margin: 0 5px;
  color: #bbb;
}

li>label[for='todo'] {
  width: 210px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#box div {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}